<% if (!userdata) {%>
    <script>
        alert("비회원은 접근할 수 없는 페이지입니다")
        location.href = "/login";
    </script>
<% } %>


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시글 상세 페이지</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Abel&family=Barlow:wght@200;300;400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <%- include ("common/header.ejs",{menu:"brddetail"})%>
    <div id="container">
        <div class="cont1">
            <%- include ("common/banner.ejs")%>
        </div>
        <div class="brddetail">
            <div class="center">
                <h2>Contact Detail</h2>
                <div class="row">
                    <div class="Wrap">
                        <div class="auther"><%-brddata.brdname%></div>
                    </div>
                    <div class="Wrap">
                        <div class="email"><%-brddata.brdemail%></div>
                    </div>
                </div>
                <div class="row">
                    <div class="Wrap">
                        <div class="subject"><%-brddata.brdtitle%></div>
                    </div>
                    <div class="Wrap">
                        <div class="number"><%-brddata.brdnumber%></div>
                    </div>
                </div>
                <div class="fileWrap">
                    <div class="filebox">
                        <p>File</p>
                        <div class="file">
                            <% if(brddata.brdfile){%>
                            <img src="/upload/<%-brddata.brdfile%>">
                            <% } %>
                        </div>
                    </div>
                    <div class="textboxWrap">
                        <p class="msg">message</p>
                        <div class="textbox"><%-brddata.brdcontext%></div>
                    </div>
                </div>
                <div class="btnWrapper">
                    <a class="list" href="/brdlist">list</a>
                    <% if(userdata.joinemail === brddata.brdemail) {%>
                        <div class="btnWrap">
                            <a class="upt" href="/brduptview/<%-brddata.brdid%>">update</a>
                            <a class="del" href="/delete/<%-brddata.brdid%>">delete</a>
                        </div>
                    <% } %>    
                </div>        
            </div>
        </div>
    </div>
    <%- include ("common/footer.ejs")%>
</body>
</html>