<!DOCTYPE html><% if (!userdata) {%>
    <script>
        alert("비회원은 접근할 수 없는 페이지입니다")
        location.href = "/login";
    </script>
<% } %>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Abel&family=Barlow:wght@200;300;400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <%- include ("common/header.ejs",{menu:"mypage"})%>
    <div id="container">
        <div class="mypage_cont">
            <h2 class="title">My Account</h2>
            <form action="/myupdate" method="post">
                <div class="Wrap">
                    <label for="name">Your Name</label>
                    <input readonly type="text" name="name" placeholder="" value="<%-userdata.joinname%>">
                </div>
                <div class="Wrap">
                    <label for="prepass">Preview Password</label>
                    <input  type="text" name="prepass"   placeholder="Preview Password">
                </div>
                <div class="Wrap">
                    <label for="uptpass">Update Password</label>
                    <input type="text" name="uptpass"   placeholder="Update Password">
                </div>
                <div class="Wrap">
                    <label for="title">Your Title</label>
                <input  type="text" name="title" placeholder="Your title" value="">
                </div>
                <div class="Wrap">
                    <label for="phone">Phone</label>
                <input  type="text" name="phone" placeholder="Phone" value="<%-userdata.joinphone%>">
                </div>
                <div class="Wrap">
                    <label for="email">Email</label>
                    <input readonly type="text" name="email" placeholder="Email" value="<%-userdata.joinemail%>">
                </div>
                <div class="Wrap">
                    <label for="personalInfo">Personal Info</label>
                    <textarea  name="personalInfo">Personal Info</textarea>
                </div>
                <button type="submit">SAVE CHANGES</button>
            </form>
        </div>
       
       
    </div>
    <%- include ("common/footer.ejs")%>
</body>
</html>